<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220819.143251" targetFramework="net481" />
  <package id="_nilnul_._LINQ_" version="1.1.220819.143032" targetFramework="net481" />
  <package id="AE.Net.Mail" version="1.7.7816.38666" targetFramework="net481" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net481" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.AspNet.Cors" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.9" targetFramework="net481" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._acc_._LIB_" version="2.1.220731.182834" targetFramework="net481" />
  <package id="nilnul._acc_._LINQ_" version="1.1.220731.182834" targetFramework="net481" />
  <package id="nilnul._app_._LIB_" version="1.1.220729.93739" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.220822.32314" targetFramework="net481" />
  <package id="nilnul._character_._LIB_" version="2.1.221104.132532" targetFramework="net481" />
  <package id="nilnul._comm_._LIB_" version="1.0.7827.34092" targetFramework="net481" />
  <package id="nilnul._fs_._LIB_" version="2.1.221030.133307" targetFramework="net481" />
  <package id="nilnul._human_._LIB_" version="1.1.220725.151533" targetFramework="net481" />
  <package id="nilnul._human_._LINQ_" version="1.1.220725.150847" targetFramework="net481" />
  <package id="nilnul._lang_._LIB_" version="1.1.220905.132316" targetFramework="net481" />
  <package id="nilnul._ling_._LIB_" version="1.1.220728.141114" targetFramework="net481" />
  <package id="nilnul._linq_._LIB_" version="1.1.220906.140610" targetFramework="net481" />
  <package id="nilnul._num_._LIB_" version="1.1.220826.15831" targetFramework="net481" />
  <package id="nilnul._num_._LINQ_" version="1.1.220825.155237" targetFramework="net481" />
  <package id="nilnul._obj_._LIB_" version="1.2.221103.151505" targetFramework="net481" />
  <package id="nilnul._rel_._LIB_" version="1.2.220817.152548" targetFramework="net481" />
  <package id="nilnul._set_._LIB_" version="1.1.220905.140119" targetFramework="net481" />
  <package id="nilnul._time_._LIB_" version="1.1.221006.142535" targetFramework="net481" />
  <package id="nilnul._txt_._LIB_" version="1.1.220908.84230" targetFramework="net481" />
  <package id="nilnul._web_._CTR_" version="1.1.220906.153228" targetFramework="net481" />
  <package id="nilnul._web_._LIB_" version="1.1.221029.95602" targetFramework="net481" />
  <package id="nilnul._win_._LIB_" version="1.1.221029.121907" targetFramework="net481" />
  <package id="nilnul._xml_._LIB_" version="1.1.220731.165341" targetFramework="net481" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net481" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220905.105721" targetFramework="net481" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220926.131208" targetFramework="net481" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220818.53104" targetFramework="net481" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.7713.29418" targetFramework="net48" />
  <package id="nilnul.web._css_.WEB._CTR_" version="1.1.220729.100927" targetFramework="net481" />
  <package id="nilnul.web._js_.WEB._CTR_" version="1.1.220729.100635" targetFramework="net481" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net481" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net481" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net481" />
  <package id="System.Runtime.Caching" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net481" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net481" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>