<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="nilnul.web._ctr_._WEB_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="nilnul.web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <trace enabled="true" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <caching>
      <!--<cache>

      </cache>-->
      <!--
      http://www.beansoftware.com/ASP.NET-Tutorials/Restart-Stop-Application.aspx
      
      What happens when ASP.NET Application restarts
ASP.NET application restart will cause these consequences:

- Cache is cleared
- Application State is lost
- Sessions' state are lost if InProc is used. InProc is used in most cases, because it is fastest and default method. In the other hand, if sessions are stored remotely they remain after application restarts.
- Application_End and Application_Start procedures in Global.asax are executed.

      
      -->
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="aspx" enabled="true" duration="36000000" varyByParam="l" varyByCustom="l" />
          <!--<%@ OutputCache="" CacheProfile="ServerOnly" %>-->
          <!--only for pages-->
        </outputCacheProfiles>
        <!--User Control Cache Configuration Settings
You can configure user control caching by setting the @ OutputCache directive in the user control file or by setting the PartialCachingAttribute attribute in the control's class definition. For more information, see Caching Portions of an ASP.NET Page.-->
      </outputCacheSettings>
      <!--<outputCache enableOutputCache="true" enableFragmentCache="true" sendCacheControlHeader="true" omitVaryStar="false" defaultProvider="AspNetInternalProvider">
      </outputCache>-->
    </caching>
  </system.web>
  <system.webServer>
    <handlers>
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl._web.GivenIdToStr,nilnul.net.ctrl._web(serveCtrlsByHandler120526"/>-->
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl._web.GivenIdByCtrlToStr,nilnul.net.ctrl._web(serveCtrlsByHandler120526"/>-->
      <!--<add name="ascx" verb="*" path="*.ascx" type="nilnul.net.ctrl.GivenIdByPageToStream,nilnul.net.ctrl"/>-->
      <add name="ascx" verb="*" path="*.ascx" type="nilnul.web.http.svr.app.handler_.ascx_.OnPage,nilnul._web_._LIB_" />
      
      
      
      
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <remove fileExtension=".ascx" />
          <add allowed="true" fileExtension=".ascx" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <modules>
      <!--<add name="userPreferChinese" type="nilnul.web.svr.module_.ling_.perRequest_.PreferCnToEn,nilnul._web_._LIB_" />-->
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.8343.38579" newVersion="2.1.8343.38579" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <nilnul.web._ctr_._WEB_.Properties.Settings>
      <setting name="denote" serializeAs="String">
        <value>nilnul.web._ctr_</value>
      </setting>
    </nilnul.web._ctr_._WEB_.Properties.Settings>
    <nilnul.web.Properties.Settings>
      <setting name="scheme" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="authority" serializeAs="String">
        <value>nilnulco.w20.wh-2.com</value>
      </setting>
      <setting name="authority__debug" serializeAs="String">
        <value>localhost:12345</value>
      </setting>
    </nilnul.web.Properties.Settings>
  </applicationSettings>
</configuration>